In [1]:
import pandas as pd

df = pd.read_csv("nba-2.csv")

df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [3]:
gk = df.groupby('Team')   #applying groupby() function to group the data on team value

gk.first()     #let's print the first entries in all the groups formed.

,Name,Number,Position,Age,Height,Weight,College,Salary
Team,,,,,,,,
Atlanta Hawks,Kent Bazemore,24,SF,26,5-Jun,201,Old Dominion,2000000.0
Boston Celtics,Avery Bradley,0,PG,25,2-Jun,180,Texas,7730337.0
Brooklyn Nets,Bojan Bogdanovic,44,SG,27,8-Jun,216,Oklahoma State,3425510.0
Charlotte Hornets,Nicolas Batum,5,SG,27,8-Jun,200,Virginia Commonwealth,13125306.0
Chicago Bulls,Cameron Bairstow,41,PF,25,9-Jun,250,New Mexico,845059.0
Cleveland Cavaliers,Matthew Dellavedova,8,PG,25,4-Jun,198,Saint Mary's,1147276.0
Dallas Mavericks,Justin Anderson,1,SG,22,6-Jun,228,Virginia,1449000.0
Denver Nuggets,Darrell Arthur,0,PF,28,9-Jun,235,Kansas,2814000.0
Detroit Pistons,Joel Anthony,50,C,33,9-Jun,245,UNLV,2500000.0
Golden State Warriors,Leandro Barbosa,19,SG,33,3-Jun,194,North Carolina,2500000.0
Houston Rockets,Trevor Ariza,1,SF,30,8-Jun,215,UCLA,8193030.0
Indiana Pacers,Lavoy Allen,5,PF,27,9-Jun,255,Temple,4050000.0
Los Angeles Clippers,Cole Aldrich,45,C,27,11-Jun,250,Kansas,1100602.0
Los Angeles Lakers,Brandon Bass,2,PF,31,8-Jun,250,LSU,3000000.0
Memphis Grizzlies,Jordan Adams,3,SG,21,5-Jun,209,UCLA,1404600.0
Miami Heat,Chris Bosh,1,PF,32,11-Jun,235,Georgia Tech,22192730.0
Milwaukee Bucks,Giannis Antetokounmpo,34,SF,21,11-Jun,222,Arizona,1953960.0
Minnesota Timberwolves,Nemanja Bjelica,88,PF,28,10-Jun,240,Louisville,3950001.0
New Orleans Pelicans,Alexis Ajinca,42,C,28,2-Jul,248,California,4389607.0
New York Knicks,Arron Afflalo,4,SG,30,5-Jun,210,UCLA,8000000.0
Oklahoma City Thunder,Steven Adams,12,C,22,Jul-00,255,Pittsburgh,2279040.0
Orlando Magic,Dewayne Dedmon,3,C,26,Jul-00,245,USC,947276.0
Philadelphia 76ers,Elton Brand,42,PF,37,9-Jun,254,Duke,947276.0
Phoenix Suns,Eric Bledsoe,2,PG,26,1-Jun,190,Kentucky,13500000.0
Portland Trail Blazers,Cliff Alexander,34,PF,20,8-Jun,240,Kansas,525093.0
Sacramento Kings,Quincy Acy,13,SF,25,7-Jun,240,Baylor,981348.0
San Antonio Spurs,LaMarcus Aldridge,12,PF,30,11-Jun,240,Texas,19689000.0
Toronto Raptors,Bismack Biyombo,8,C,23,9-Jun,245,Missouri,2814000.0
Utah Jazz,Trevor Booker,33,PF,28,8-Jun,228,Clemson,4775000.0
Washington Wizards,Alan Anderson,6,SG,33,6-Jun,220,Michigan State,4000000.0

In [4]:
gk.get_group('Boston Celtics')   #

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7,C,24,9-Jun,260,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4,PG,27,9-May,185,Washington,6912869.0
12,Evan Turner,Boston Celtics,11,SG,27,7-Jun,220,Ohio State,3425510.0
13,James Young,Boston Celtics,13,SG,20,6-Jun,215,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44,C,26,Jul-00,253,North Carolina,2616975.0

In [5]:
import pandas as pd

df = pd.read_csv("nba-2.csv")

gk = df.groupby(['Team','Position'])   #applying groupby() function to group the data on team value

gk.first()     #let's print the first entries in all the groups formed.

                                         Name  Number  Age  Height  Weight  \
Team               Position
Atlanta Hawks      C               Al Horford      15   30  10-Jun     245
                   PF          Kris Humphries      43   31   9-Jun     235
                   PG         Dennis Schroder      17   22   1-Jun     172
                   SF           Kent Bazemore      24   26   5-Jun     201
                   SG        Tim Hardaway Jr.      10   24   6-Jun     205
...                                       ...     ...  ...     ...     ...
Washington Wizards C            Marcin Gortat      13   32  11-Jun     240
                   PF             Drew Gooden      90   34  10-Jun     250
                   PG          Ramon Sessions       7   30   3-Jun     190
                   SF            Jared Dudley       1   30   7-Jun     225
                   SG           Alan Anderson       6   33   6-Jun     220

                                          College      Salary
Team               Position
Atlanta Hawks      C                      Florida  12000000.0
                   PF                   Minnesota   1000000.0
                   PG                 Wake Forest   1763400.0
                   SF                Old Dominion   2000000.0
                   SG                    Michigan   1304520.0
...                                           ...         ...
Washington Wizards C         North Carolina State  11217391.0
                   PF                      Kansas   3300000.0
                   PG                      Nevada   2170465.0
                   SF              Boston College   4375000.0
                   SG              Michigan State   4000000.0

[149 rows x 7 columns]

In [6]:
import pandas as pd

df = pd.read_csv("nba-2.csv")

gk = df.groupby(['Team','Position','College'])   #applying groupby() function to group the data on team value

gk.first()     #let's print the first entries in all the groups formed.

                                                       Name  Number  Age  \
Team               Position College
Atlanta Hawks      C        Florida              Al Horford      15   30
                   PF       Bucknell           Mike Muscala      31   24
                            Louisiana Tech     Paul Millsap       4   31
                            Minnesota        Kris Humphries      43   31
                            Virginia             Mike Scott      32   27
...                                                     ...     ...  ...
Washington Wizards SF       LSU             Marcus Thornton      15   29
                   SG       Florida            Bradley Beal       3   22
                            LSU              Garrett Temple      17   30
                            Michigan State    Alan Anderson       6   33
                            Virginia Tech      Jarell Eddie       8   24

                                            Height  Weight      Salary
Team               Position College
Atlanta Hawks      C        Florida         10-Jun     245  12000000.0
                   PF       Bucknell        11-Jun     240    947276.0
                            Louisiana Tech   8-Jun     246  18671659.0
                            Minnesota        9-Jun     235   1000000.0
                            Virginia         8-Jun     237   3333333.0
...                                            ...     ...         ...
Washington Wizards SF       LSU              4-Jun     205    200600.0
                   SG       Florida          5-Jun     207   5694674.0
                            LSU              6-Jun     195   1100602.0
                            Michigan State   6-Jun     220   4000000.0
                            Virginia Tech    7-Jun     218    561716.0

[362 rows x 6 columns]

In [1]:
import pandas as pd

df = pd.read_csv("nba-2.csv")

gk = df.groupby(['Team','Position','College','Age'])   #applying groupby() function to group the data on team value

gk.first()     #let's print the first entries in all the groups formed.

                                                           Name  Number  \
Team               Position College        Age
Atlanta Hawks      C        Florida        30        Al Horford      15
                   PF       Bucknell       24      Mike Muscala      31
                            Louisiana Tech 31      Paul Millsap       4
                            Minnesota      31    Kris Humphries      43
                            Virginia       27        Mike Scott      32
...                                                         ...     ...
Washington Wizards SF       LSU            29   Marcus Thornton      15
                   SG       Florida        22      Bradley Beal       3
                            LSU            30    Garrett Temple      17
                            Michigan State 33     Alan Anderson       6
                            Virginia Tech  24      Jarell Eddie       8

                                                Height  Weight      Salary
Team               Position College        Age
Atlanta Hawks      C        Florida        30   10-Jun     245  12000000.0
                   PF       Bucknell       24   11-Jun     240    947276.0
                            Louisiana Tech 31    8-Jun     246  18671659.0
                            Minnesota      31    9-Jun     235   1000000.0
                            Virginia       27    8-Jun     237   3333333.0
...                                                ...     ...         ...
Washington Wizards SF       LSU            29    4-Jun     205    200600.0
                   SG       Florida        22    5-Jun     207   5694674.0
                            LSU            30    6-Jun     195   1100602.0
                            Michigan State 33    6-Jun     220   4000000.0
                            Virginia Tech  24    7-Jun     218    561716.0

[373 rows x 5 columns]